<label>Server Name(Normal Event Binding)</label>
<input type="text" class="form-control"
 (input)="onUpdateServerName($event)"> <!-- $event is used to get the event data and process it accordingly.-->
 <label>Server Name (2-Way Data Binding)</label>
<input type="text" class="form-control"
 [(ngModel)]="addedServerName"> <!-- This is how we should define a 2-way binding-->
 <p>Added Server is : {{addedServerName}}</p>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"> 
<!-- [disabled]="!allowNewServer" is called Porperty Binding defintion. allowNewServer is the property which is defined in server.component.ts and gets changed after 2 secs (from disable to enable).-->
<!-- (click)="onCreateServer() is called Event Binding Defintion. onCreateServer() is the function that gets invoked on the user click event"-->
                                                                    
   Add Server
</button>
<p [innerText] = "allowNewServer"></p>
<p>{{serverCreationStatus}}</p>

<!-- Directives are basically used as attribute selector
     In *ngIf, * is important to have because, ngIf is a structural Directive which means it changes the structure of our DOM.
     It either adds the element or does not add the element -->
<!-- If you inspect the below line at developer tools in browser. you will see when the app is loaded there is no paragraph element
     But, as soon as the ngIf gets evaluated to true then a new element got introduced.-->
<p *ngIf="serverCreated; else noServer">Server was created, server name is : {{addedServerName}}</p>
<ng-template #noServer>
    <p>No Server was created. Copletely blank.</p>
</ng-template>





<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>